.home-menu-button {
    border: 0 none;
    left: -9px;
    position: absolute;
    top: -59px;
}
.about-menu-button {
    border: 0 none;
    left: 80px;
    position: absolute;
    top: -59px;
}
.galleries-menu-button {
    border: 0 none;
    left: 168px;
    position: absolute;
    top: -58px;
}
.special-info-menu-button {
    left: 286px;
    position: absolute;
    top: -83px;
}
.sponsors-menu-button {
    border: 0 none;
    left: 420px;
    position: absolute;
    top: -61px;
}
.contact-menu-button {
    border: 0 none;
    left: 565px;
    position: absolute;
    top: -61px;
}
.directions-menu-button {
    border: 0 none;
    left: 688px;
    position: absolute;
    top: -61px;
}

.tickets-menu-button {
    border: 0 none;
    left: 804px;
    position: absolute;
    top: -61px;
}