.home-menu-button {
    border: 0 none;
    left: -33px;
    position: absolute;
}
.about-menu-button {
    border: 0 none;
    left: 39px;
    position: absolute;
}
.galleries-menu-button {
    border: 0 none;
    left: 116px;
    position: absolute;
}
.special-info-menu-button {
    left: 218px;
    position: absolute;
}
.sponsors-menu-button {
    border: 0 none;
    left: 333px;
    position: absolute;
}
.contact-menu-button {
    border: 0 none;
    left: 470px;
    position: absolute;
}
.directions-menu-button {
    border: 0 none;
    left: 588px;
    position: absolute;
}
.tickets-menu-button {
    border: 0 none;
    left: 691px;
    position: absolute;
}
