.home-body {
    background: url("../img/template/bg/homeBG.jpg") no-repeat scroll center top transparent;
    font-family: trebuchet,arial,sans-serif;
    font-size: 14pt;
    text-align: center;
}

.other-page-body {
    background: url("../img/template/bg/otherPageBG.jpg") no-repeat scroll center top transparent;
    font-family: trebuchet,arial,sans-serif;
    font-family:trebuchet,arial,sans-serif;
    font-size:10pt;
    color:#333333;
    text-align: center;
}

.home-content-pane {
    position: relative;
    width: 876px;
    margin: 689px auto 0;
}

.competitor-page-text {
    position: relative;
    /*width: 860px;*/
    width: 876px;
    margin: 270px auto 0;
}

.other-page-text {
    margin: 230px auto 0;
    position: relative;
    /*width: 860px;*/
    width: 876px;
}

.aPlaisanceLogo {
    margin: 0 auto;
}

.slideshow-container {
    float:right;
    position:relative;
    width: 238px;
    height: 331px;

}
.floating-slideshow {
    border: 7px solid #2A1E08;
    border-radius: 5px 5px 5px 5px;
    float: right;
    position: relative;
    left: 63px;
    top:  98px;
    width: 200px;
}

.bottom-page {
    position:absolute;
    top: 1999px;
}

.centered-element {
    position: relative;
    margin: 0 auto;
}

img {
    border: 0 none;
}

.text-container {
    position: relative;
    margin:0 auto; top: 100px;
    width: 860px;
}

.home-ticket-button {
    border: 0 none;
    left: 1314px;
    position: absolute;
    top: 785px;
}

.fb-like {
    left: 5px;
    position: relative;
    top: -9px;
}
.fb {
    border: 0 none;
    left: 0;
    position: relative;
}
.twitter {
    border: 0 none;
    left: 0;
    position: relative;
}

.social-div {
    position: absolute;
    top: 580px;
    left: 1430px;
    height: 75px;
    /*z-index: 10;*/
}