.home-body {
    background: url('../img/template/bg/homeBG.jpg') no-repeat scroll;
    background-position: top center;
    font-family: trebuchet, arial, sans-serif;
    font-size: 14pt;
    text-align: center;
}

.home-content-pane {
    position: relative;
    width: 860px;
    margin: 770px auto 0;
}

.aPlaisanceLogo {
    margin: 0 auto;
}