.homePageText {
    text-align:justify; 
    width:420px; 
    height:387px; 
    padding:0 15px;
    font-family:trebuchet,arial,sans-serif;
    font-size:10pt;
    color:#333333
}

.individualCompetitorText {
    color: #333333;
    font-family: trebuchet,arial,sans-serif;
    font-size: 12pt;
    overflow: auto;
    padding: 5px 15px;
    position: relative;
    text-align: justify;
    top: -25px;
    margin: 0 auto;
}

.centerForm {
    margin:0 auto;
    text-align:center;
}

.competitorThumbnail {
    width: 100px;
    height: 100px;
    border: 0;
    vertical-align:top;
}

.competitorNameTag {
    width:361px;
    height:90px;
    margin:0 auto;
}

.eventTable{
    width:860px;
}